# Python junk
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (The Heavy Stuff!)
env/
venv/
.env

# Database (We use the server's DB, not this file)
db.sqlite3

# Node.js (Tailwind stuff - also heavy)
node_modules/
package-lock.json

# Static files
staticfiles/
media/